.main-container-signup{
    padding:10% 10%;
    height: 100vh;
    background-image: linear-gradient(#19105b, #472067, #7c3375, #FF6196) !important;
}


.auth-form {
    background-color: #FFE5EE;
    color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    max-width: fit-content;
    margin: 0 auto;
  }
  
  .auth-form h2 {
    color: #31119B;
  }
  
  .input-field {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #19105B;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    width: 25em;
  }
  
  .input-field:focus {
    outline: none;
    border-color: #FF095C;
  }
  
  .error-message {
    color: #FF095C;
    margin-top: 5px;
  }
  
  .sign-up-button {
    background-color: #FF095C;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sign-up-button:hover {
    background-color: #ff0040; 
  }

  .input-field a:hover {
    text-decoration: underline;
  }

  .login-link {
    text-decoration: none; 
    color: #007bff; 
    transition: text-decoration 0.3s; 
  }
  
  .login-link:hover {
    text-decoration: underline; 
  }
 
  
  